body {
    background: rgb(31, 29, 29);
    margin: 0;
    overflow: hidden;
}

.circle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
}

#circle1 {
    background-color: rgb(166, 57, 255);
}

#circle2 {
    background-color: rgb(255, 57, 74);
}

#circle3 {
    background-color: rgb(105, 218, 111);
}


#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52.5%, -50%);
    width: 50%;
    white-space: pre;
    color: rgb(247, 234, 52);
}

.social-icons {
    position: absolute;
    top: 80%;
    left: 2%;
    z-index: 3;
}

.social-icon {
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
}

.social-icon:hover {
    color: rgb(247, 234, 52);
}

.corner-logo {
    background: rgb(247, 234, 52);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    z-index: 3;
}

.close {
    color: #fff;
    font-size: 4em;
    position: absolute;
    left: 20px;
    cursor: pointer;
    font-weight: 900;
    z-index: 3;
}

.event-icon {
    width: 35px;
    position: relative;
    top: calc(50% - 17px);
    left: calc(50% - 17px);
    opacity: 0;
}

.photography {
    margin-top: 30px;
    font-weight: 200;
    font-size: 1.8em;
    color: white;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.photography .letter {
    display: inline-block;
    z-index: 3;
    line-height: 1em;
}

@media (max-width: 800px) {
    #title {
        top: 40%;
        width: 110vw;
    }
}